input.ng-touched.ng-invalid{
    border: 1px solid red;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.2);
  }
  
  .btn{
    width: 100%;
    margin:10px auto 10px;
   
  }
  .signup-div{
    margin: 7% auto 7%;
  }