
<div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12  rounded shadow box signup-div">
        <form [formGroup]="regform" (ngSubmit)=onSignup()>
           
          <h3 class="text-center">Sign up</h3>
          <div class="form-group">
          
            <input type="text" class="form-control" id="name"
            placeholder="Enter your name" formControlName="name" required>

            <small class="text-danger"
            *ngIf="regform.invalid && (regform.dirty || regform.touched)">
            Please enter your name</small>

          </div>
          <div class="form-group">
           
            <input type="email" class="form-control" id="email"
            placeholder="Enter email" formControlName="email">
            <small class="text-danger"
            *ngIf="regform.invalid && (regform.dirty || regform.touched)">
            Please enter valid email</small>
          </div>
          <div class="form-group">
          
            <input type="password" class="form-control" id="password"
            placeholder="Enter Password" formControlName="password">
            <small class="text-danger"
            *ngIf="regform.invalid && (regform.dirty || regform.touched)">
            Please enter your password</small>
          </div>
     
         
          
          <button type="submit" class="btn btn-primary ">Signup</button>
        </form>
      </div>
  
    </div>
  </div>
  